email = thavaahariharangit@github.com
always-auth = true
registry=https://jfrogghdemo.jfrog.io/artifactory/api/npm/e2e-tests-dependabot-npm
//jfrogghdemo.jfrog.io/artifactory/api/npm/e2e-tests-dependabot-npm:_authToken=${{secrets.JFROG_ARTIFACTORY_TOKEN}}
